body {
  background: #000000 url('img/red-bricks.jpg') center top;
  color: #FFFFFF;
  font-family: 'News Cycle';
}

#top-header {
  border-bottom: 3px solid #FFFFFF;
}

#top-header h1 {
  font-family: 'Monoton', sans-serif;
  font-size: 3em;
  font-weight: 100;
  color: white;
  text-align: center;
  margin: 20px 0;
  letter-spacing: 0.2em;
}

.logo {
  display: inline;
  float: left;
}

.logo-rt {
  display: inline;
  float: right;
  /* This flipped the image horizontally (across vertical axis) */
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#menu {
}

.menu-section {
  background-color:rgba(0,0,0,0.8);
  border-radius: 10px;
  margin-top: 5px;
}

.menu-section ul {
  list-style-type:none;
  margin:0;
  padding: 0 10px;
}

.menu-section li {
  margin-bottom: 5px;
}


.menu-section h1 {
  font-family: 'Gloria Hallelujah';
  font-size: 1.5em;
  margin: 0px;
  text-align: center;
  border-bottom: #900000 solid;
}

.menu-section h2 {
  font-size: 1.2em;
  margin: 0px;
  color: #FF7000;
}

.menu-section h3 {
  display: block;
  float: right;
  font-size: 1em;
  margin-top: 4px;
}

.menu-section p {
  font-size: 0.8em;
  margin: 0px;
}